3) Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and quantitative
variable is income, then provide summary statistics of income grouped by the age groups.
Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of
iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

In [11]:
import pandas as pd 
import numpy as np 
import sklearn as sk

In [12]:
dataset = pd.read_csv("Iris.csv")

In [13]:
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [14]:
# change the column names 
dataset.columns = ['id','sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [15]:
dataset.head(10)

   id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           5.1          3.5           1.4          0.2  Iris-setosa
1   2           4.9          3.0           1.4          0.2  Iris-setosa
2   3           4.7          3.2           1.3          0.2  Iris-setosa
3   4           4.6          3.1           1.5          0.2  Iris-setosa
4   5           5.0          3.6           1.4          0.2  Iris-setosa
5   6           5.4          3.9           1.7          0.4  Iris-setosa
6   7           4.6          3.4           1.4          0.3  Iris-setosa
7   8           5.0          3.4           1.5          0.2  Iris-setosa
8   9           4.4          2.9           1.4          0.2  Iris-setosa
9  10           4.9          3.1           1.5          0.1  Iris-setosa

In [16]:
sepal_length = dataset['sepal_length']
sepal_width = dataset['sepal_width']
petal_length = dataset['petal_length']
petal_width = dataset['petal_width'] 
species = dataset["species"]

In [17]:
def mean(x):
    return sum(x)//len(x)

def median(x):
    x = sorted(x)
    mid = len(x)//2
    return x[mid] 

def mode(x):
    map_ = {}

    for i in x:
        map_[i] = 1 + map_.get(i, 0) 

    max_freq = max(map_.values())

    for value_ in map_:
        if map_[value_] == max_freq:
            return value_

In [18]:
min_sepal_length = min(sepal_length)
min_sepal_width = min(sepal_width)
min_petal_length = min(petal_length)
min_petal_width = min(petal_width)


print(f"min_sepal_length = {min_sepal_length}\nmin sepal width = {min_sepal_width}\nmin petal length = {min_petal_length}\nmin petal width = {min_petal_width}")

min_sepal_length = 4.3
min sepal width = 2.0
min petal length = 1.0
min petal width = 0.1

In [19]:
max_sepal_length = max(sepal_length)
max_sepal_width = max(sepal_width)
max_petal_length = max(petal_length)
max_petal_width = max(petal_width)


print(f"max_sepal_length = {max_sepal_length}\nmax sepal width = {max_sepal_width}\nmax petal length = {max_petal_length}\nmax petal width = {max_petal_width}")

max_sepal_length = 7.9
max sepal width = 4.4
max petal length = 6.9
max petal width = 2.5

In [20]:
mean_sepal_length = mean(sepal_length)
mean_sepal_width = mean(sepal_width)
mean_petal_length = mean(petal_length)
mean_petal_width = mean(petal_width)


print(f"mean_sepal_length = {mean_sepal_length}\nmean sepal width = {mean_sepal_width}\nmean petal length = {mean_petal_length}\nmean petal width = {mean_petal_width}")

mean_sepal_length = 5.0
mean sepal width = 3.0
mean petal length = 3.0
mean petal width = 1.0

In [21]:
median_sepal_length = median(sepal_length)
median_sepal_width = median(sepal_width)
median_petal_length = median(petal_length)
median_petal_width = median(petal_width)

print(f"median_sepal_length = {median_sepal_length}\nmedian sepal width = {median_sepal_width}\nmedian petal length = {median_petal_length}\nmedian petal width = {median_petal_width}")

median_sepal_length = 5.8
median sepal width = 3.0
median petal length = 4.4
median petal width = 1.3

In [22]:
mode_sepal_length = mode(sepal_length)
mode_sepal_width = mode(sepal_width)
mode_petal_length = mode(petal_length)
mode_petal_width = mode(petal_width)

print(f"mode_sepal_length = {mode_sepal_length}\nmode sepal width = {mode_sepal_width}\nmode petal length = {mode_petal_length}\nmode petal width = {mode_petal_width}")

mode_sepal_length = 5.0
mode sepal width = 3.0
mode petal length = 1.5
mode petal width = 0.2

In [23]:
std_sepal_length = np.std(sepal_length)
std_sepal_width = np.std(sepal_width)
std_petal_length = np.std(petal_length)
std_petal_width = np.std(petal_width)


print(f"std_sepal_length = {std_sepal_length}\nstd sepal width = {std_sepal_width}\nstd petal length = {std_petal_length}\nstd petal width = {std_petal_width}")

std_sepal_length = 0.8253012917851409
std sepal width = 0.4321465800705435
std petal length = 1.7585291834055201
std petal width = 0.760612618588172

In [24]:
# Categorical Encoding 

Categories = {} 
enc = 1 
for i in dataset['species']:
    
    if i not in Categories: 
        Categories[i] = enc 

        enc += 1 

Categories

{'Iris-setosa': 1, 'Iris-versicolor': 2, 'Iris-virginica': 3}

In [25]:
sepal_length.describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [26]:
sepal_width.describe()

count    150.000000
mean       3.054000
std        0.433594
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepal_width, dtype: float64

In [27]:
petal_length.describe()

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal_length, dtype: float64

In [28]:
petal_width.describe()

count    150.000000
mean       1.198667
std        0.763161
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal_width, dtype: float64

In [29]:
species.describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: species, dtype: object

In [30]:
dataset.replace('species', Categories, inplace=True)

In [31]:
dataset.head(10)

   id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           5.1          3.5           1.4          0.2  Iris-setosa
1   2           4.9          3.0           1.4          0.2  Iris-setosa
2   3           4.7          3.2           1.3          0.2  Iris-setosa
3   4           4.6          3.1           1.5          0.2  Iris-setosa
4   5           5.0          3.6           1.4          0.2  Iris-setosa
5   6           5.4          3.9           1.7          0.4  Iris-setosa
6   7           4.6          3.4           1.4          0.3  Iris-setosa
7   8           5.0          3.4           1.5          0.2  Iris-setosa
8   9           4.4          2.9           1.4          0.2  Iris-setosa
9  10           4.9          3.1           1.5          0.1  Iris-setosa

In [32]:
Categories

{'Iris-setosa': 1, 'Iris-versicolor': 2, 'Iris-virginica': 3}